// BD MySQL
RDB_HOST=your-database-host
RDB_USER=your-database-user
RDB_PASSWORD=your-database-password
RDB_NAME=your-database-name
RDB_PORT=3306

// MongoDB
MONGO_URI=your-mongodb-connection-string

// AWS
AWS_REGION=us-east-1

// TO DO - SIN IMPLEMENTAR
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

// Aplicacion
NODE_ENV=your-environment (development/production)
PORT=your-application-port